[Unit]
Description=celery daemon
After=network.target

[Service]
User=root 
Group=www-data
WorkingDirectory=/opt/oncourse
ExecStart=/opt/envoncourse/bin/python3 celery -A backoffice beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler

[Install]
WantedBy=multi-user.target