[Unit]
Description=celery daemon
After=network.target

[Service]
User=root 
Group=www-data
WorkingDirectory=/opt/oncourse
ExecStart=/opt/envoncourse/bin/python3 celery -A backoffice worker -l info --pool=gevent

[Install]
WantedBy=multi-user.target