{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
    {% load utility_tags %}
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
			2021 {{ ""|year_content }} &copy; <font color="green"><strong>{% trans "Online Course" %}</strong></font>
		</div>
	</div>
{% endblock %}
