{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
    {% load utility_tags %}
	<div class="row">
   		<div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
   			2021 {{ ""|year_content }} &copy; <font color="green"><strong>{% trans "Online Course" %}</strong></font>
   		</div>
	</div>
{% endblock %}
