{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_head %}
	<style>
        .login-register {
            background: url({% static 'fileprocessor/images/product_landing_bg.jpg' %})!important;
            position: fixed;
            background-size: cover !important;
            background-repeat: no-repeat !important;
        }
    </style>
{% endblock %}

{% block content %}
	<body class="skin-default card-no-border">
	     <div class="login-register">
	     	 <div class="card text-center">
                <div class="card-body text-center">
                    <div class="ibox">
                    	<div class="ibox-title">
                    		<h1>{% trans "Password Reset" %}</h1>
                    	</div>
                    	<div class="ibox-content">
                    		{% if user.is_authenticated %}
						    {% include "account/snippets/already_logged_in.html" %}
						    {% endif %}
						    <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
						    <p>{% trans "Back to" %} <a href="{% url 'home' %}">{% trans "sign in" %}</a> {% trans "page." %}</p>
						    
                    	</div>
                    	{% load utility_tags %}
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
								2021 {{ ""|year_content }} &copy; <font color="green"><strong>{% trans "Online Course" %}</strong></font>
							</div>
						</div>
                    </div>
                </div>
             </div>
	     </div>
	</body>
{% endblock %}
