{% extends 'base.html' %}

{% load i18n %}

{% block page_title %}
	{% trans "Change Password" %}
{% endblock page_title %}


{% block content %}
	<div class="row">
	    <div class="card col-md-12">
	        <div class="card-body">
	        	<h1>{% trans "Change Password" %}</h1>

			    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
			        {% csrf_token %}
			        {{ form.as_p }}
			        <button 
				    	type="submit" 
				    	class="btn waves-effect waves-light btn-success"
				    	data-toggle="tooltip" 
				    	data-placement="bottom"
				    	title="{% trans 'Change Password ..' %}" 
			            data-original-title="{% trans 'Change Password ..' %}"
				    	>
				    	<i class="icon-cloud-upload"></i>
			            {% trans "Change Password" %}
				    </button>
			        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
			    </form>
    
	        </div>
	    </div>
	</div>
	
    
{% endblock %}
