<!DOCTYPE html>

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'msp33p/images/msp_faveicon.ico' %}">
    <title>Online Course</title>
    
    <!-- page css -->
    <link href="{% static 'eliteadmin-2020/css/login-register-lock.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'eliteadmin-2020/css/style.min.css' %}" rel="stylesheet">
    
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{% static 'eliteadmin-2020/js/html5shiv.js' %}"></script>
    <script src="{% static 'eliteadmin-2020/js/respond.min.js' %}"></script>
	<![endif]-->
    <style>
        .login-register {
            background: url("{% static 'msp33p/images/msp_bg.jpg' %}")!important;
            position: fixed;
            background-size: cover !important;
            background-repeat: no-repeat !important;
        }
    </style>
</head>

<body class="skin-default card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Online Course</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register">
            <div class="login-box card">
                <div class="card-body">
                	<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">login</a>.{% endblocktrans %}</p>
                	
                    <form class="form-material form-horizontal" class="form-horizontal form-material" id="signup_form" method="POST" action="{% url 'signup' %}">
                        <h3 class="m-b-20">{% trans "Sign UP" %}</h3>
                        {% csrf_token %}
	                    {{ form|crispy }}
	                    {% if redirect_field_value %}
	                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	                    {% endif %}
	                    <button id="sign-up-button" class="btn btn-info" type="submit">{% trans "Register" %} &raquo;</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </section>
    
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'eliteadmin-2020/js/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'eliteadmin-2020/js/popper.min.js' %}"></script>
    <script src="{% static 'eliteadmin-2020/js/bootstrap.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script type="text/javascript">
        $(function() {
            $(".preloader").fadeOut();
        });
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
    
</body>

</html>





